body, html{
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 0 !important;
}
.main-wrapper{
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 960px;
}
.clear{
  clear: both;
}
.margintop10{
  margin-top: 10px;
}
.margintop20{
  margin-top: 20px;
}
.margintop30{
  margin-top: 30px;
}
.margintop40{
  margin-top: 40px;
}

.marginbottom10{
  margin-bottom: 10px;
}
.marginbottom20{
  margin-bottom: 20px;
}
.marginbottom30{
  margin-bottom: 30px;
}
.marginbottom40{
  margin-bottom: 40px;
}

.marginleft10{
  margin-left: 10px;
}
.marginleft20{
  margin-left: 20px;
}
.marginleft30{
  margin-left: 30px;
}
.marginleft40{
  margin-left: 40px;
}

.marginright10{
  margin-right: 10px;
}
.marginright20{
  margin-right: 20px;
}
.marginright30{
  margin-right: 30px;
}
.marginright40{
  margin-right: 40px;
}
header{
  background: #F2F2F2;
  padding: 20px 0;
  max-height: 85px;
}
.width960{
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.width170{
  max-width: 170px;
  width: 100%;
}
.width220{
  max-width: 220px;
  width: 100%;
}
.logo{
  width: 279px;
  height: 45px;
  display: inline-block;
  background: url('../images/XE-logo.png') no-repeat;
  background-size: contain;
}
.rewardpts{
  background: #3973BF;
  padding: 5px 20px;
  border-radius: 16px;
  font-size: 16px;
  color: #fff;
}
.rewardpts span{
  font-weight: bold;
  font-size: 20px;
}
.resend{
  background: #F6A623;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 6px;
  padding: 7px 20px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  height: 36px;
  margin: 0 10px 0 0;
}
.resend:hover, .resend:focus, .resend:visited{
  text-decoration: none;
  color: #fff;
}
.main-body{
  background: #fff;
  padding: 0 0 30px 0;
}
h1{
  font-weight: bold;
  font-size: 20px;
  color: #3973BF;
  margin: 30px 0 20px;
}
ul.productlist{
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.productlist li{
  background: #EAF7FF;
  width: 215px;
  border-radius: 4px;
  padding: 10px;
  margin: 0 10px;
  float: left;
}
ul.productlist li h2{
  font-size: 18px;
  color: #4990E2;
  font-weight: 600;
  margin: 0 0 10px 0;
}
ul.productlist li .imgholder{
  max-width: 195px;
  height: 160px;
  overflow: hidden;
}
ul.productlist li img{
  width: 100%;
}
ul.productlist li .points{
  margin: 10px 0;
  color: #FF9F00;
  font-size: 16px;
  font-weight: bolder;
}
ul.productlist li a{
  border-radius: 6px;
  padding: 7px 20px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  height: 36px;
}
ul.productlist li a.view{
  border: 1px solid #4A4A4A;
  color: #4a4a4a;
}
ul.productlist li a.redeem{
  background: #4990E2;
  color: #fff;
}
ul.productlist li a.redeem.disabled{
  background: #9B9B9B;
  cursor: not-allowed;
}

ul.productlist li a.view:before{
  font-family: 'FontAwesome';
  content: "\f002";
  display: inline-block;
  margin: 0 5px 0 0;
}
.viewRewards{
  width: 100%;
  max-width: 440px;
  padding: 20px;
  border-radius: 17px;
  background: #3973BF;
  margin: auto;
  position: relative;
  top: 20%;
}
.viewRewards .modal-content,
 .form .modal-content, .successpage .modal-content{
  background: none;
  box-shadow: none;
  border: 0;
}
.viewRewards .modal-content h3{
  margin: 0 0 5px 0;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
}
.viewRewards .modal-content .close{
  font-size: 24px;
  font-weight: bold;
  line-height: auto;
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
}
.viewRewards .modal-content .close:hover{
  color: #FF9F00;
}
.viewRewards .modal-content .modal-points{
  color: #FF9F00;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
}
.viewRewards .modal-content p{
  font-size: 14px;
  color: #fff;
  margin: 10px 0;
}
.viewRewards .modal-content a.redeem{
  background: #00AEEF;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  padding: 7px 20px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  height: 36px;
  display: inline-block;
}
.viewRewards .modal-content a.redeem.disabled{
  background: #00AEEF;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  padding: 7px 20px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  height: 36px;
  display: inline-block;
   background: #9B9B9B;
  cursor: not-allowed;
}
.modal .form, .modal .successpage{
  width: 100%;
  max-width: 470px;
  padding: 30px;
  border-radius: 17px;
  background: #3973BF;
  margin: 5% auto;
  position: relative;
}

.modal .successpage img{
  width: 155px;
}

form input{
  width: 100%;
  background: #fff;
  border: 0;
  border-radius: 8px;
  padding: 5px 15px;
  height: 36px;
  font-size: 14px;
  outline: 0;
}
button{
  border: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
}
p.labeltext{
  font-size: 14px;
  font-weight: lighter;
  margin: 0 0 10px 0;
  color: #fff;
}
.modal form.form input{
  margin: 0 0 20px 0;
}
button.btn-nobg{
  background: none;
  padding: 10px 40px;
}
button.btn-orange{
  background: #F6A623;
  padding: 10px 60px;
}
.successpage h2{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0;
}
.successpage p{
  color: #fff;
  font-size: 16px;
  margin: 0 0 50px 0;
}
.imgholder.resendimg{
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}
.imgholder.resendimg img{
  width: 100%;
}
.errormsg{
	color: #ffc6c6;
	font-size: 13px;
	display: none;

}
input.error{
	color: #ffe784;
	font-size: 14px;
  font-weight: lighter;
  margin: -20px 0 0;
}
label.error{
	color: #ffe784;
	font-size: 14px;
  font-weight: bold;
  margin: -20px 0 0;
}
form input.error{
  color: #000;
  font-weight: normal;
  border: 2px solid #ffe784;
}
a{
  outline: 0;
}
.modal{
  height: 100%;
}
.displaynone{
  display: none;
}
.bannerbox{
  margin: 20px 0;
  height: 300px;
  width: 100%;
  background: url('../images/Image-background-2-1.jpg') no-repeat #EAF7FF;
  background-size: contain;
}
.bannerbox h1{
  font-size: 32px;
  font-weight: normal;
}
.bannerbox .button{
  font-size: 18px;
  background: #4990E2;
  padding: 20px;
  color: #fff;
  margin: 60px 0 0;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.bannerbox .col-md-6{
  position: relative;
  height: 100%;
}


html,body{
  min-height: 100%;
  height: 100%;
}
.drawbox{
  position: relative;
}
.drawbox .filter{
  background: #003869;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.drawbox.xurpasbg{
  background: url('../images/xurpas-home.jpg');
  background-size: cover;
  height: 100%;
 
}
.drawbox .logo{
  width: 400px;
  height: 150px;
  margin: 0px auto 20px;
  display: block;
}
.drawbox input{
  text-align: center;
  font-size: 24px;
  background: #fff;
  height: 50px;
  width: 500px;
  margin: 0 auto;
  display: block;
}
.drawbox button{
  height: 44px;
  display: block;
  width: 100px;
  font-size: 16px;
  color: #fff;
  background: #F6A623;
  margin: 50px auto;
}
.drawbox .center{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
}
.drawbox ol{
  padding: 0;
  margin: 0 auto;
  display: block;
 
  text-align: center;
  font-size: 20px;
  list-style: none;
  color: #fff;
  height: 300px;
 
}
.drawbox a{
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    background: #F6A623;
    padding: 10px;
    width: 100px;
    display: block;
    text-align: center;
    margin: 20px auto;
}
div.error{
 text-align:center;
 font-weight: bold;
 color:  #ffe784;
}

td {
	color:#fff;
	padding:12px;
	font-size: 18px;
}
td.firstlevel {
	font-size: 18px;
	color:#fff;
	padding:0px;
}
 td.secondlevel {
	font-size: 18px;
	color:#fff;
	padding:0px;
}